/*      GENERAL STYLES      */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: url('../img/pink-dust.png');
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
}

.background-style {
  background-color: rgba(255,255,255,0.8);
}

.strong {
  font-weight: 700;
}


/*       NAVIGATION STYLES      */

.menuIcon {
  background: #CCD0C9;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .75em;
  font-size: 1.5em;
  text-align: right;
}

.nav {
  background: #CCD0C9;
  text-align: center;
  display: none;
}

.nav li {
  font-weight: 300;
  list-style: none;
  letter-spacing: .1em;
  padding: 1em;
}

.nav a:hover {
  color: #06919a;
}

.nav a {
  text-decoration: none;
  color: #282828;
}

.selected {
  background: #06919A;
}

.list {
  display: block;
}

@media (min-width: 823px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  .nav li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .1em;
    padding: 1em;
  }

  .nav a {
    color: #282828;
  }

  .nav a:hover {
    color: #06919a;
  }

  .selected {
    background: #06919a;
  }

  .menuIcon {
    display: none;
  }
}


/*      HEADER STYLES      */

header {
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

@media (max-width: 823px) {
  header {
    margin-top: 0px;
  }
}

.jumbotron-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.jumbotron-text h1 {
  font-size: 3rem;
}

.jumbotron-text h2 {
  font-size: 2rem;
  font-weight: 100;
}

/*     HOME PAGE      */

.about .container {
  text-align: center;
  line-height: 25px;
}

.about h2 {
  font-size: 25px;
}

.about p {
  margin-top: 1rem;
}



/*      FORM STYLINGS      */

input, textarea {
  display: block;
}

.flex-outer {
  padding: 50px;
  background-color: rgba(255,255,255,0.8);
}

.flex-outer li {
  display: flex;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

/*      CONTACT SECTION      */

.column-50 {
  width: 50%;
  max-width: 800px;
  float: left;
}

/*         CONCEPTS       */

.concepts .cards-row {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}

.concepts .column {
  width: 20%;

}

/*     WEEKLY BREAKDOWN PAGE      */

.breakdown .weektitle {
  background-color: #06919A;
  padding: 20px;
  margin: -50px -50px 20px;
  text-align: center;
}

.breakdown a {
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  line-height: 2rem;
}

.breakdown a:hover {
  color: white;
}

.breakdown .lesson-section:not(:first-child) {
  margin-top: 20px;
}

.breakdown .lesson-section {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.breakdown .expander {
    background-color:#d3d3d3;
    cursor: pointer;
}
.breakdown .content {
    display: none;
}

.fa-plus {
  color: white !important;
  padding-left: 15px;
}

.fa-plus:hover {
  color: #CCD0C9 !important;
}

/*      EXERCISES PAGE      */

.exercises, .concepts {
  text-align: center;
}

.exercises .background-style h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin-top: 30px;
}

.exercises a {
  font-size: 20px;
  text-decoration: none;
  line-height: 2rem;
  color: #4B595D;
}

.exercises a:hover {
  display: inline-block;
  width: 35%;
  background-color: #4B595D;
  color: white;
}

/*      FOOTER STYLES      */

footer {
  clear: both;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.fa {
  color: #4B595D;
  margin-top: 10px;
}

.fa:hover {
  color: white;
}

footer a {
  text-decoration: none;
  color: black
}

footer a:hover {
  color: white;
}
