/*      GENERAL STYLES      */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: url('../img/pink-dust.png');
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
}

.background-style {
  background-color: rgba(255,255,255,0.8);
}

.strong {
  font-weight: 700;
}


/*       NAVIGATION STYLES      */

.menuIcon {
  background: #CCD0C9;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .75em;
  font-size: 1.5em;
  text-align: right;
}

.nav {
  background: #5DBA9D;
  text-align: center;
  display: none;
}

.nav li {
  font-weight: 300;
  list-style: none;
  letter-spacing: .1em;
  padding: 1em;
}

.nav a:hover {
  color: #06919a;
}

.nav a {
  text-decoration: none;
  color: #282828;
}

.selected {
  background: #06919A;
}

.list {
  display: block;
}

@media (min-width: 823px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  .nav li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .1em;
    padding: 1em;
  }

  .nav a {
    color: #282828;
  }

  .nav a:hover {
    color: #06919a;
  }

  .selected {
    background: rgba(93, 186, 157, 1);
  }

  .menuIcon {
    display: none;
  }
}


/*      HEADER STYLES      */

header {
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

@media (max-width: 823px) {
  header {
    margin-top: 0px;
  }
}

.jumbotron-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.jumbotron-text h1 {
  font-size: 3rem;
}

.jumbotron-text h2 {
  font-size: 2rem;
  font-weight: 100;
}

/*     HOME PAGE      */

.about .container {
  text-align: center;
  line-height: 25px;
}

.about h2 {
  font-size: 25px;
}

.about p {
  margin-top: 1rem;
}


/*      FORM STYLINGS      */

input, textarea {
  display: block;
}

.flex-outer {
  padding: 50px;
  background-color: rgba(255,255,255,0.8);
}

.flex-outer li {
  display: flex;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

/*      CONTACT SECTION      */

.column-50 {
  width: 50%;
  max-width: 800px;
  float: left;
}

/*         CONCEPTS       */

.concepts .cards-row {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}

.concepts .column {
  width: 20%;

}

/*     WEEKLY BREAKDOWN PAGE      */

.breakdown .weektitle {
  background-color: #06919A;
  padding: 20px;
  margin: -50px -50px 20px;
  text-align: center;
}

.breakdown a {
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  line-height: 2rem;
}

.breakdown a:hover {
  color: white;
}

.breakdown .lesson-section:not(:first-child) {
  margin-top: 20px;
}

.breakdown .lesson-section {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.breakdown .expander {
    background-color:#d3d3d3;
    cursor: pointer;
}
.breakdown .content {
    display: none;
}

.fa-plus {
  color: white !important;
  padding-left: 15px;
}

.fa-plus:hover {
  color: #CCD0C9 !important;
}



/*      EXERCISES PAGE      */

.exercises, .concepts {
  text-align: center;
}

.exercises .background-style h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin-top: 30px;
}

.exercises a {
  font-size: 20px;
  text-decoration: none;
  line-height: 2rem;
  color: #4B595D;
}

.exercises a:hover {
  display: inline-block;
  width: 35%;
  background-color: #4B595D;
  color: white;
}

/*      FOOTER STYLES      */

footer {
  clear: both;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.fa {
  color: #4B595D;
  margin-top: 10px;
}

.fa:hover {
  color: white;
}

footer a {
  text-decoration: none;
  color: black
}

footer a:hover {
  color: white;
}


/*        MODAL STYLES      */

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}



/*      SEARCH      */

#myInput {
  background-image: url('../img/search.png');
  background-position: 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 0 auto 20px;
}

#myUL {
  list-style-type: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin: 20px auto 5px;
  background-color: #f6f6f6;
  padding: 5%;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 80%;
}

#myUL li a:hover:not(.header) {
  background-color: rgba(93, 186, 157, 1);
  color: white;
  border-color: rgba(93, 186, 157, 1);
}


/*        MODAL        */


.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	opacity: 0;
}
.modal:target {
	display: block;
	z-index: 2;
	opacity: 1;
}
.popup:target ~ .content {
	overflow: hidden;
}

.modal-exit,
.modal-exit:hover {
	position: fixed;
	top: -15px;
	right: 0;
	width: 1em;
	height: 1.4em;
	z-index: 10;
	padding: 0.3em;
	font-size: 3.5em;
	line-height: 1em;
	text-decoration: none;
	color: #FFF;
}
.modal-exit:hover {
	background-color: rgba(255,255,255, 0.3);
}

.modal-open:hover {
	box-shadow: 0 0 10px 1px #999;
}

.modal-title {
	font-size: 3em;
	font-weight: 100;
  padding-top: 3%;
}
.modal-description {
	color: #EDEBEE;
  width: 80%;
  margin: 3% auto 0;
}

.bg {
	background-color: #5DBA9D;

}
